[Unit]
Description=Wi-Fi Whisperer Capture Service
After=network.target

[Service]
ExecStart=/bin/sh -c "/usr/sbin/airodump-ng wlan1 --duration 300 --write /var/spool/wifi-monitor/data/capture_`date +%%Y-%%m-%%d_%%H-%%M-%%S` --output-format csv"

[Install]
WantedBy=multi-user.target